<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <style>
 
 </style>
</head>
<body class="mb-5 pb-5 mb-md-0">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-5">
				<form class="justify-content-center justify-content-md-start mb-3 mb-md-0">
					<div class="input-group input-group-sm">
						<input type="text" class="form-control" placeholder="search">
						<button class="btn btn-danger">
							Buscar
						</button>
					</div>
				</form>
			</div>
			<div class="col-12 col-md-7">
				<div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
					<form class="ml-3 d-inline-block">
						<select class="form-select form-select-sm">
							<option>Ordenar por nome</option>
							<option>Ordenar por menor preço</option>
							<option>Ordenar pelo maior preço</option>
						</select>
					</form>
					<nav class="d-inline-block">
						<ul class="pagination pagination-sm my-0">
							<li class="page-item">
								<button class="page-link">1</button>
							</li>
							<li class="page-item">
								<button class="page-link">2</button>
							</li>
							<li class="page-item">
								<button class="page-link">3</button>
							</li>
							<li class="page-item">
								<button class="page-link">4</button>
							</li>
							<li class="page-item">
								<button class="page-link">5</button>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

	
	
	
	<hr class= mt-3>
	<div class="row">
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://io2.convertiez.com.br/m/dannycosmeticos/shop/products/images/17353/large/esmalte-dailus-nude-propriedade-de-ninguem-8ml_16994.jpg" class="card-img-top">
				<div class="card-header">
					<strong>R$ 4,50</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Esmalte Dailus Nude</h6>
					<p>descriçao</p>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://drogariasp.vteximg.com.br/arquivos/ids/405476-1000-1000/esmalte-risque-natural-renda-8ml-Drogaria-SP-208680-1.jpg?v=637279709886370000" class="card-img-top">
				<div class="card-header">
					<strong>R$ 3,50</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Esmalte Risque Renda</h6>
					<p>descriçao</p>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://www.dhresource.com/0x0/f2/albu/g7/M01/4A/30/rBVaSVpljuiAEHMCAAQ3tK6TwPU694.jpg/ship-from-ru-manicure-set-kit-nail-gel-lamp.jpg" class="card-img-top">
				<div class="card-header">
					<strong>R$ 200</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Kit para Unha em Gel</h6>
					<p>descriçao</p>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://boacoisa.vteximg.com.br/arquivos/ids/167129-1000-1000/Estojo-Kit-Manicure-com-11-Pecas-alicate-espatula-pinca-tesoura-cuticula-cuticula-MS-110.jpg?v=635755972831130000" class="card-img-top">
				<div class="card-header">
					<strong>R$ 70,00</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Kit Manicure com 11 Peças</h6>
					<p>descriçao</p>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://carrefourbr.vtexassets.com/arquivos/ids/17087888/Kit-Manicure-Cirandinha-Carrinho-Tripe-Profissional-Dompel.jpg?v=637560115261100000" class="card-img-top">
				<div class="card-header">
					<strong>R$ 1200,00</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Kit Manicure Cirandinha Carrinho Tripé Profissional Dompel</h6>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://static3.tcdn.com.br/img/img_prod/159791/kit_manicure_luxo_com_3_unidades_santa_clara_3467_1_20181210111709.jpg" class="card-img-top">
				<div class="card-header">
					<strong>R$ 130,00</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Kit Manicure Profissional</h6>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
		
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://a-static.mlcdn.com.br/1500x1500/kit-unha-gel-acrigel-kit-treino-unha-gel-cabine-lixa-eletrica-unhas-gel-uv-led-pink-gecika-gecika/gecika/7005947259/b165d490f3d18da932b40d6776d7b778.jpg" class="card-img-top">
				<div class="card-header">
					<strong>R$ 2500,00</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Kit Manicure</h6>
					<p>Secador, Alicadores, Esmaltes</p>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://images.tcdn.com.br/img/img_prod/612688/estufa_de_led_24w_com_sensor_inteligente_secador_de_unhas_721_1_20181026183148.jpeg" class="card-img-top">
				<div class="card-header">
					<strong>R$ 350,00</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Secador de Unha Portátil</h6>

				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://cf.shopee.com.br/file/79412de368d930a568d62c449f39aba8" class="card-img-top">
				<div class="card-header">
					<strong>R$ 147,00</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Unhas em Gel Coleção-B-D-Z</h6>
					<p>Kit com 150 pares</p>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://images.tcdn.com.br/img/img_prod/854444/lancamento_kit_colecao_esmaltes_disk_anos_2000_haskell_999867_1_ff8a1f0e5e42dc9c0ecab8bb51a9b2ec.jpg">
				<div class="card-header">
					<strong>R$ 30,00</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Kit Haskell Disk 2000 5 cores</h6>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/844/547/products/14885068448-esmaltes-risque-deusas-inspiradoras-6-cores2-89b6925b8f8615e6c016336301936880-1024-1024.jpg" class="card-img-top">
				<div class="card-header">
					<strong>R$ 42,50</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Kit Risque Deusas 6 cores</h6>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
				
			</div>
		</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
			<div class="card text-center bg-light">
				<img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/844/547/products/10135784246-impala-12-cores-para-escolher-cf0cbc8b1658983a2716055534809956-1024-1024.jpg" class="card-img-top">
				<div class="card-header">
					<strong>R$ 52,35</strong>
				</div>
				<div class="card-body">
					<h6 class="card-title">Kit Impala Verão 12 cores</h6>
				</div>
				<div class="card-footer">
					<form class="d-block">
						<button class="btn btn-danger">
							Comprar
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
		<hr class="mt-6">
		<div class="row pb-4">
			<div class="col-12">
				
				<div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
					<form class="ml-3 d-inline-block">
						<select class="form-select form-select-sm">
							<option>Ordenar por nome</option>
							<option>Ordenar por menor preço</option>
							<option>Ordenar pelo maior preço</option>
						</select>
					</form>
					<nav class="d-inline-block">
						<ul class="pagination pagination-sm my-0">
							<li class="page-item">
								<button class="page-link">1</button>
							</li>
							<li class="page-item">
								<button class="page-link">2</button>
							</li>
							<li class="page-item">
								<button class="page-link">3</button>
							</li>
							<li class="page-item">
								<button class="page-link">4</button>
							</li>
							<li class="page-item">
								<button class="page-link">5</button>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>		
	
	</div>
</div> 
</body>
</html>